*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 50px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-between;

}
.add{
    padding-left: 5px;
    border: 0.75px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.deliver{
    padding-left: 9px;
    font-size: 13px;
    color: #cccccc;   
}
.india{
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}
.border:hover{
     border: 0.75px solid white;
}
.nav-logo{
    display: flex;
    height: 50px;
    cursor: pointer;
    border: 0.75px solid transparent;
    align-items: center;
}
.logo{
    border: 0.75px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 125px;
    object-fit: contain;
    
}

.search-box {
    display: flex;
    align-items: center;
    width: 650px;
    height: 50px;
    justify-content: space-evenly;
}

.select1 select{
    width: 50px;
    height: 35px;
    background-color: #f3f3f3;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-bottom-left-radius:4px ;
    border-top-left-radius:4px ;
    border: none;
}
.search-input{
    flex: 1;
}
.search-input input{
    width: 100%;
    height: 35px;
    font-size: 14px;
    padding: 1px;
    border: none;
}

.search-icon i{
    width: 45px;
    height: 35px;
    background-color: rgba(244, 192, 6, 0.858);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-bottom-right-radius:4px ;
    border-top-right-radius:4px ;
    
}
.lang{
    display: flex;
    justify-content: center;
    width: 70px;
    cursor: pointer;
    align-items: center;
}

.text{
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 2px;
    padding-left: 2px;
    
}

.flag img{
    height: 22px;
    width: 26px;
    object-fit: contain;
}

.sign-in{
    width: 114px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
}

.hello{
    font-size: 0.75rem;
    color: #cccccc;
}

.account{
    font-size: 0.90rem;
    font-weight: bold;
}

.returns{
    width: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.return{
    font-size: 0.75rem;
    color: #cccccc;
}

.orders{
    font-size: 0.90rem;
    font-weight: bold;
}

.cart{
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart-icon i{
    font-size: 1.5rem;
}
