*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 50px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-between;

}
.add{
    padding-left: 5px;
    border: 0.75px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 90px;
}
.deliver{
    padding-left: 9px;
    font-size: 13px;
    color: #cccccc;   
}
.india{
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}
.border:hover{
     border: 0.75px solid white;
}
.nav-logo{
    display: flex;
    height: 50px;
    cursor: pointer;
    border: 0.75px solid transparent;
    align-items: center;
}
.logo{
    border: 0.75px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    
    height: 50px;
    width: 125px;
    object-fit:cover;
    
}

.search-box {
    display: flex;
    align-items: center;
    width: 700px;
    height: 50px;
    justify-content: space-evenly;
}

.select1 select{
    width: 50px;
    height: 35px;
    background-color: #f3f3f3;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-bottom-left-radius:4px ;
    border-top-left-radius:4px ;
    border: none;
}
.search-input{
    flex: 1;
}
.search-input input{
    width: 100%;
    height: 35px;
    font-size: 14px;
    padding: 2.5px;
    border: none;
}

.search-icon i{
    width: 45px;
    height: 35px;
    background-color: #f1a542;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-bottom-right-radius:4px ;
    border-top-right-radius:4px ;
    
}
.lang{
    display: flex;
    justify-content: center;
    width: 70px;
    cursor: pointer;
    align-items: center;
}

.text{
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 2px;
    padding-left: 2px;
    
}

.flag img{
    height: 22px;
    width: 26px;
    object-fit: contain;
}

.sign-in{
    width: 120px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
}

.hello{
    font-size: 0.75rem;
    color: #cccccc;
}

.account{
    font-size: 0.90rem;
    font-weight: bold;
}

.returns{
    width: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.return{
    font-size: 0.75rem;
    color: #cccccc;
}

.orders{
    font-size: 0.90rem;
    font-weight: bold;
}

.cart{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart-icon i{
    font-size: 1.5rem;
}

.cart-text{
    width: 25px;
    padding-right: 10px;
}

.cart-div{
    font-weight: 550;
    font-size: 14px;
}

.below-nav{
    height: 40px;
    padding: 1px;
    color : white;
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    
}

.all-below{
    width: 4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bars-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 0.80rem;
}

.all-text{
    font-size: 0.95rem;
    font-weight: 790;
    padding-left: 0.15rem;

}

.mx-play{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;

}

.mx-text{
    font-size: 14px;
    font-weight:550;
}

.sell{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.sell-text{
    font-size: 14px;
    font-weight:550;
}

.bestsellers{
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.best-text{
    font-size: 14px;
    font-weight:550;
}

.mob{
    width: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.mob-text{
    font-size: 14px;
    font-weight:550;
}

.today{
    width: 5.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.today-text{
    font-size: 14px;
    font-weight:550;
}

.customer{
    width: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.cust-text{
    font-size: 14px;
    font-weight:550;
}

.prime{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 1px;
    width: 4rem;
}

.prime-text{
    font-size: 14px;
    font-weight: 550;
}

.new-release{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 6.4em;
}

.new-release-text{
    font-size: 14px;
    font-weight: 550;
}

.amazon-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 6.5em;
}

.amazon-pay-text{
    font-size: 14px;
    font-weight: 550;
}

.fashion{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.4em;
}

.fashion-text{
     font-size: 14px;
    font-weight: 550;
}

.electronics{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.5em;
}

.electronics-text{
    font-size: 14px;
    font-weight: 550;
}

.homekit{
     display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 7.5em;
}

.homekit-text{
    font-size: 14px;
    font-weight: 550;
}

.books{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 3.5em;
}

.book-text{
    font-size: 14px;
    font-weight: 550;
}

.computer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.3em;
}

.computer-text{
    font-size: 14px;
    font-weight: 550;
}

.gift{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.3em;
}

.gift-text{
    font-size: 14px;
    font-weight: 550;
}

.hero-section{
    background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2025/GW/BAU/Unrec/PC/934044814._CB551384116_.jpg);
    height: 600px;
    background-size: cover;
    position: relative;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    background-color: #fbf1e770;
    height: 475px;
    width: 23%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: absolute;
    background-color: white;
}

.box1{
    top: 81%;
    left: 30px;
}

.box2{
    top: 81%;
    left : 400px;
}

.box3{
    top: 81%;
    left : 770px;
}

.box4{
    top: 81%;
    left : 1140px;
}

.box5{
    top: 150%;
    left: 30px;
}

.box6{
    top: 150%;
    left : 400px;
}

.box7{
    top: 150%;
    left : 770px;
}

.box8{
    top: 150%;
    left : 1140px;
}


.box p{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -17px;
}

.offers{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.offers img{
    background-size: cover;
    height: 102px;
    width: 163px;
    background-size: contain;
    padding : 3px;
}

.color-for-hero{
    height: 930px;
    background-color: rgba(208, 216, 216, 0.659);

}
.best-seller{
    height: 300px;
    background-color:rgba(208, 216, 216, 0.659);;
    padding:10px 15px 10px 15px;
}
.best-seller-box{
    box-shadow: 0 5px 10px rgba(0,0,0,0.3)  ;
    background-color: white;
}
.best-seller-images-text{
    font-weight: bold;
    font-size: 24px;
    padding: 5px 0px 20px 25px;
}

.best-seller-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.best-seller-images img{
    padding-bottom: 8px;
}

.best-seller-box{
    position: absolute;
    top : 220%;
    left: 2%;
    right: 2%;
    width: 96%;
}
.sign-up-text{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.sign-up-content{
    height: 150px;
    padding: 10px 0px 10px 0px;
}

.sign-up-button button{
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 9999px;
    background-color: #FFD814;
    cursor: pointer;
}

.sign-up-button button:active{
    transform: scale(0.97);
}

.sign-up-button{
    padding-top: 15px;
    padding-left: 40%;
    padding-bottom: 25px;
}

.sign-up-button hr{
    width: 100%;
}

.back-to-top{
    height: 50px;
    background-color: #3a4656;
    color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-weight: bold;
}

.back-to-top a{
    text-decoration: none;
    color: white;
}

.footer-content1{
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #232F3E;
}

.footer-content-box{
    height: 295px;
    color: white;
    width: 18%;
    margin-top: 3%;
}

.footer-content-box-header{
    font-size: 0.95rem;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
}
.footer-content-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
}

.footer-content-div a{
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
}

.footer-content-div p{
    padding-left: 15px;
    padding-top: 15px;
    font-size: 0.90rem;
}

.footer-content-div a:hover{
    text-decoration: underline;
}

.last-second-footer-content{
    height: 75px;
}


.footer-content-box2{
    height: 140px;
    background-color: #232F3E;
    color: white;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.footer-logo img{
    width: 90px;
    background-size: contain;
    cursor: pointer;
    padding-top: 20px;
}

.footer-lang{
    font-size: 0.95rem;
    width: 130px;
    height: 35px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-left: 100px;
}

.footer-country{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    border: 1px solid white;
    margin-left: 10px;
}

.footer-country-flag img{
    margin-top: 2px;
    margin-right: 5px;
    width: 20px;
    background-size: cover;
    cursor: pointer;

}

.footer-country a{
    color: white;
    text-decoration: none;
}

.footer-last-box{
    height: 100px;
    background-color: #131A22;
    color: white;
    font-size: 0.90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
