*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 50px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-between;

}
.add{
    padding-left: 5px;
    border: 0.75px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.deliver{
    padding-left: 9px;
    font-size: 13px;
    color: #cccccc;   
}
.india{
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}
.border:hover{
     border: 0.75px solid white;
}
.nav-logo{
    display: flex;
    height: 50px;
    cursor: pointer;
    border: 0.75px solid transparent;
    align-items: center;
}
.logo{
    border: 0.75px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    
    height: 50px;
    width: 125px;
    object-fit:cover;
    
}

.search-box {
    display: flex;
    align-items: center;
    width: 700px;
    height: 50px;
    justify-content: space-evenly;
}

.select1 select{
    width: 50px;
    height: 35px;
    background-color: #f3f3f3;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-bottom-left-radius:4px ;
    border-top-left-radius:4px ;
    border: none;
}
.search-input{
    flex: 1;
}
.search-input input{
    width: 100%;
    height: 35px;
    font-size: 14px;
    padding: 2.5px;
    border: none;
}

.search-icon i{
    width: 45px;
    height: 35px;
    background-color: rgba(244, 192, 6, 0.858);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-bottom-right-radius:4px ;
    border-top-right-radius:4px ;
    
}
.lang{
    display: flex;
    justify-content: center;
    width: 70px;
    cursor: pointer;
    align-items: center;
}

.text{
    font-weight: bolder;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 2px;
    padding-left: 2px;
    
}

.flag img{
    height: 22px;
    width: 26px;
    object-fit: contain;
}

.sign-in{
    width: 114px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
}

.hello{
    font-size: 0.75rem;
    color: #cccccc;
}

.account{
    font-size: 0.90rem;
    font-weight: bold;
}

.returns{
    width: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.return{
    font-size: 0.75rem;
    color: #cccccc;
}

.orders{
    font-size: 0.90rem;
    font-weight: bold;
}

.cart{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cart-icon i{
    font-size: 1.5rem;
}

.cart-text{
    width: 25px;
    padding-right: 10px;
}

.cart-div{
    font-weight: 550;
    font-size: 14px;
}

.below-nav{
    height: 40px;
    padding: 1px;
    color : white;
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    
}

.all-below{
    width: 4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bars-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-left: 0.80rem;
}

.all-text{
    font-size: 0.95rem;
    font-weight: 790;
    padding-left: 0.15rem;

}

.mx-play{
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;

}

.mx-text{
    font-size: 14px;
    font-weight:550;
}

.sell{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.sell-text{
    font-size: 14px;
    font-weight:550;
}

.bestsellers{
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.best-text{
    font-size: 14px;
    font-weight:550;
}

.mob{
    width: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.mob-text{
    font-size: 14px;
    font-weight:550;
}

.today{
    width: 5.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.today-text{
    font-size: 14px;
    font-weight:550;
}

.customer{
    width: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
}

.cust-text{
    font-size: 14px;
    font-weight:550;
}

.prime{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 1px;
    width: 4rem;
}

.prime-text{
    font-size: 14px;
    font-weight: 550;
}

.new-release{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 6.4em;
}

.new-release-text{
    font-size: 14px;
    font-weight: 550;
}

.amazon-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 6.5em;
}

.amazon-pay-text{
    font-size: 14px;
    font-weight: 550;
}

.fashion{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.4em;
}

.fashion-text{
     font-size: 14px;
    font-weight: 550;
}

.electronics{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.5em;
}

.electronics-text{
    font-size: 14px;
    font-weight: 550;
}

.homekit{
     display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 7.5em;
}

.homekit-text{
    font-size: 14px;
    font-weight: 550;
}

.books{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 3.5em;
}

.book-text{
    font-size: 14px;
    font-weight: 550;
}

.computer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.3em;
}

.computer-text{
    font-size: 14px;
    font-weight: 550;
}

.gift{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    padding: 2px;
    width: 5.3em;
}

.gift-text{
    font-size: 14px;
    font-weight: 550;
}
